.DS_Store
.idea
*.log
synthesizer/tmp/
\#*\#
*~
# sbt
# (may want to keep parts of 'project')
synthesizer/bin/
synthesizer/project/
synthesizer/target/
synthesizer/build/

# intellij idea
*.log
*.iml
*.ipr
*.iws
.idea

# other?
.history
.scala_dependencies
.cache
.cache-main

#general
*.class
*.out

# node
yarn.lock
node_modules

# Pyodide
vscode/src/main/resources/static/pyodide/*
!vscode/src/main/resources/static/pyodide/webworker.js

# Language server
.bloop
.metals.DS_Store
.cache
npm-debug.log
Thumbs.db
vscode/node_modules/
vscode/.build/
vscode/extensions/**/dist/
vscode/out*/
vscode/extensions/**/out/
vscode/build/node_modules
vscode/coverage/
vscode/test_data/
vscode/test-results/
yarn-error.log
vscode.lsif
vscode.db
vscode/.profile-oss
vscode/cli/target
vscode/src/__pycache__
.idea
*.iml
*.out
.env
